
<div style="width:300px" class="row">
    <div>
        <div>
            <h2>
                Admin 
            </h2>
        </div>

    </div>
</div>



<div style="width:300px">
    <table class="table-bordered table">
       <tr>
           <td>
               @Html.ActionLink("Customers", "ViewCustomers")
           </td>
           <td>
               @Html.ActionLink("Products", "ViewProducts")
           </td>
            <td>
                @Html.ActionLink("Orders", "ViewOrders")
            </td>
        </tr>
    </table>
</div>
