@using ReactShop.Core.Common

@if (Identity.IsAdminMode())
{
    <div>ADMIN MODE</div>
}

@if (!Identity.IsLoggedIn())
{

    @Ajax.ActionLink("Login", "DoLogin", "Home", new AjaxOptions
        {
            HttpMethod = "GET", UpdateTargetId = "loginpopup", InsertionMode = InsertionMode.Replace, OnSuccess = "openPopup",
            
        })
    <p></p>

    @Html.ActionLink("Create Account", "CreateAccount", "User");

        
}
else
{
    <p class="nav navbar-text">
        Logged in as <strong>@Identity.IdentityName()</strong>
    </p>
    @Html.ActionLink("Logout", "logout", "user", routeValues: null, htmlAttributes: new { @class = "btn navbar-btn navbar-right btn-warning" })

}

<div id="loginpopup" class="modal-dialog modal"></div>

