@using ReactShop.Core.Common

@if (!Identity.IsLoggedIn())
{
    @Html.ActionLink("Login", "login", "user", routeValues: null, htmlAttributes: new { @class = "btn navbar-btn navbar-right btn-warning" })

}
else
{
    <p class="nav navbar-text">
        Logged in as <strong>@Identity.IdentityName()</strong>
    </p>
    @Html.ActionLink("Logout", "logout", "user", routeValues: null, htmlAttributes: new { @class = "btn navbar-btn navbar-right btn-warning" })

}



